<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header><%=title %></header>
    <div class="wrapper">
        <div class="form_insert column1">
            <form class="c1" action="/products_insert" method="post">
                <label for="form_product">Название товара</label><input class="form_productName" id="form_product" type="text" name="form_productName" /> </br>
                <label for="form_product">Количество</label><input class="form_productNumber" id="form_product" type="integer" name="form_productNumber" /> </br>
                <button type="submit" value="Добавить товар">Добавить товар</button>
            </form>

            <form class="c1" action="/products_delete" method="post">
                <label for="form_product">Номер товара </label><input class="form_productId" id="form_product" type="text" name="form_productId" /> </br>
                <label for="form_product">Название товара</label><input class="form_productName" id="form_product" type="text" name="form_productName" /> </br>          
                <button type="submit" value="Удалить задачу">Удалить товар</button>
            </form>

            <form class="c2" action="/products_update" method="post">
                <label for="form_product">Название товар</label><input class="form_productName" id="form_product" type="text" name="form_productName" /> </br>
                <label for="form_product">Количество</label><input class="form_productNumber" id="form_product" type="integer" name="form_productNumber" /> <br>
                <button type="submit" value="Обновить">Изменить количество</button>
            </form>

            <form class="c2" action="/products_sort" method="post">
                <input type="checkbox" name="optionName" value="checkName">по названию<Br>
                <input type="checkbox" name="optionNumber" value="checkNumber">по количеству<Br>
                <button type="submit" value="Отсортировать">Отсортировать</button>
            </form>

        </div>
        <div class="productView column2">
            <% if(productsVisible) {%>
				<ol>
                    <% for(var i=0; i<productName.length;i++) {%>
							<li class="product"><%=productName[i] %>: <%=productNumber[i] %></li>
                    <%} %>          
				</ol>   
                <% }else {%>
                        <h3>Товары отсутствуют</h3>
                <%} %>
        </div>
    </div>
        
</body>
<html>

    