header {
	font-size: 25px;
	height: 50px;
	background-color: #339900;
	color: white;
	text-align: center;
	margin-bottom: 30px;

}

.wrapper {
	width: 100%;
	max-width: 1020px;
	padding: 0 40px;
	margin: 0 auto;
	box-sizing: border-box;
  }

.product {
	font-size: 20px;
	height: 30px;
}

.column1 {
	float: left;
	width: 30%;
}


.column2 {
	float: right;
	width: 70%;
}

input {
	margin-bottom: 5px;
}

form {
	width: 170px;
	border: #339900 1px solid;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

button {
	background-color :#339900;
	color: white;
	border-color: #003300;
	border-radius: 5px;
	margin-top: 10px;
	width: 140px;
	height: 40px;
	text-align: center;
}